@charset "UTF-8";

/* 基本設定 ---------------- */
/* html要素に対する基本的なフォントサイズの設定。10pxを基準として、rem単位でのサイズ指定を容易にする */
html {
  font-size: 62.5%; /* = 10px = 1rem */
}
/* body要素に対する基本的なスタイル設定。フォント、色、行間を定義 */
body {
  font-family: sans-serif;
  font-size: 1.6rem; /* 基本フォントサイズ */
  color: #f8f9fa; /* テキストカラー */
  line-height: 1.5; /* 行の高さ */
}
/* img要素に対するスタイル。画像がコンテナの幅を超えないように設定。 */
img {
  max-width: 100%;
  height: auto; /* 画像の高さを自動調整してアスペクト比を保持 */
  vertical-align: bottom; /* 画像のベースラインを下揃えに設定 */
}
/* リンクのデフォルトスタイルをリセット */
a {
  text-decoration: none; /* 下線を消去 */
}
/* リストのデフォルトスタイルをリセット */
ul {
  list-style: none; /* リストマーカーを消去 */
}

/* ページの主要なコンテンツを中央に配置するためのラッパー */
.wrapper {
  max-width: 960px; /* 最大幅を960pxに設定 */
  margin: 0 auto; /* 上下のマージンを0に、左右のマージンを自動調整して中央揃え */
  padding: 0 4%; /* 内側の余白を設定 */
}

/* ヘッダーのスタイル ---------------- */
.header {
  background-color: #2c3e50; /* 背景色を設定 */
}
.header-container {
  height: 60px; /* コンテナの高さを60pxに設定 */
  display: flex; /* Flexboxを使用してアイテムを横並びに配置 */
  justify-content: space-between; /* アイテム間のスペースを均等に分配 */
  align-items: center; /* アイテムを垂直方向の中央に配置 */
}
.header-logo {
  width: 120px; /* ロゴの幅を120pxに設定 */
  line-height: 0; /* ラインハイトを0に設定して、フォントサイズによる高さの影響を無視 */
}
.header-logo a {
  display: block; /* ブロックレベル要素として表示 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
  transition: transform 0.3s; /* アニメーション効果を設定 */
}
.header-logo a:hover {
  transform: scale(1.1); /* ホバー時に拡大表示 */
}

.main-nav ul {
  display: flex; /* ナビゲーションアイテムを横並びに配置 */
}
.main-nav li {
  margin: 0 0 0 40px; /* 最初のアイテムを除き、左側に40pxのマージンを設定 */
  white-space: nowrap; /* ナビゲーションテキストを折り返さないように設定 */
}
.main-nav a {
  color: #f1acac; /* ナビゲーションリンクの色を設定 */
  transition: color 0.3s, text-decoration-color 0.3s; /* 色と下線色の変化を滑らかに */
}
a:hover {
  color: red; /* ホバー時の色 */
  text-decoration: underline; /* 下線を表示 */
  text-decoration-color: red; /* 下線の色 */
}
/* ヘッダー
レスポンシブデザインのためのメディアクエリ ---------------- */
@media (max-width: 768px) {
  .header {
    position: fixed; /* ヘッダーを画面上部に固定 */
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; /* 他の要素より前面に表示 */
  }
  .header.bgcolor {
    background: rgba(255, 255, 255, 0.7);
  }
  .main-nav {
    position: fixed; /* ナビゲーションを固定位置に設定 */
    top: 0;
    height: 100vh; /* ビューポートの高さに合わせて伸縮 */
    left: 100%; /* 初期状態ではビューポートの右外側に配置 */
    width: 60%; /* ナビゲーションの幅をビューポートの50%に設定 */
    background: rgba(255, 255, 255, 0.8); /* 背景色を半透明の色に設定 */
    transition: all 0.3s; /* 位置の変更にアニメーションを適用 */
  }
  .main-nav.slide {
    transform: translateX(-100%); /* ナビゲーションを左に幅100%分をスライド */
  }
  .main-nav ul {
    height: 100%;
    flex-direction: column; /* アイテムを縦並びに配置 */
    justify-content: center; /* アイテムを垂直方向の中央に配置 */
    font-size: 2rem; /* ナビゲーションリンクのフォントサイズを大きく設定 */
  }
  .main-nav li {
    text-align: center; /* テキストを中央揃えに設定 */
    margin-left: 0; /* 左側のマージンをリセット */
    height: 50px; /* アイテムの高さを80pxに設定 */
    line-height: 50px; /* テキストの行の高さをアイテムの高さに合わせる */
    border-top: 1px solid #ccc; /* アイテムの上部に境界線を追加 */
  }
  .main-nav li:last-of-type {
    border-bottom: 1px solid #ccc; /* 最後のナビゲーションアイテムの下部に境界線を追加 */
  }
  .main-nav a {
    display: block; /* リンクをブロックレベル要素として表示 */
    color: #5b5b5b;
  }

}

/* ボタンスタイル ---------------- */
.btn {
  display: none; /* モバイルビュー以外ではメニューボタンを非表示に設定 */
  width: 40px; /* ボタンの幅 */
  height: 40px; /* ボタンの高さ */
  background: transparent; /* ボタンの背景色を透明に設定 */
  position: relative; /* 位置指定の基準点を設定 */
  border: none; /* ボタンの枠線を削除 */
}

/* ハンバーガーメニューのスタイル---------------- */
.btn span,
.btn span::before,
.btn span::after {
  content: ''; /* 内容のない要素を生成 */
  display: block; /* ブロックレベル要素として表示 */
  width: 28px; /* バーの幅 */
  height: 3px; /* バーの高さ */
  border-radius: 2px; /* バーの角を丸くする */
  background: #5b5b5b; /* バーの背景色 */
  position: absolute; /* 絶対位置指定 */
  transition: all 0.4s ease-out; /* アニメーション効果を設定 */
}
/* ハンバーガーメニューボタンのバーの位置調整 */
.btn span::before {
  bottom: 8px; /* 下から8pxの位置に設定 */
}
.btn span::after {
  top: 8px; /* 上から8pxの位置に設定 */
}
/* メニュー開閉時のハンバーガーメニューボタンのアニメーション */
.btn.open span {
  transform: rotate(180deg); /* 180度回転 */
}
.btn.open span::before {
  bottom: 0; /* 元の位置に戻す */
  width: 18px; /* 幅を短くする */
  transform: rotate(45deg) translate(2px, 6px); /* 45度回転して位置を調整 */
}
.btn.open span::after {
  top: 0; /* 元の位置に戻す */
  width: 18px; /* 幅を短くする */
  transform: rotate(-45deg) translate(2px, -6px); /* -45度回転して位置を調整 */
}
/* モバイルビューでのボタンスタイル ---------------- */
@media (max-width: 768px) {
  .btn {
    display: flex; /* ボタンを表示 */
    justify-content: center; /* 中央揃え */
    align-items: center; /* アイテムを中央揃え */
  }
}

/* MAIN CONTENTS ---------------- */
main {
  position: relative; /* 相対位置指定 */
  background-color: #1abc9c; /* メインコンテンツの背景色 */
  z-index: 1; /* 重なり順序指定 */
}
main::before {
  content: ''; /* 内容のない要素を生成 */
  position: absolute; /* 絶対位置指定 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* 要素を親要素いっぱいに広げる */
  background: url(../images/bg2.png) repeat center; /* 背景画像を設定 */
  background-size: 5%; /* 背景画像のサイズを指定 */
  opacity: 0.15; /* 透明度を15%に設定 */
  z-index: -1; /* 背景にするためにz-indexを-1に設定 */
}

/* １枚目の背景画像：キービジュアルのスタイル設定 ---------------- */
.keyvisual {
  position: relative; /* 相対位置指定 */
  background-repeat: no-repeat; /* 背景画像の繰り返しを無効に */
  background-size: contain; /* 背景画像をコンテナに合わせて調整 */
  background-position: center; /* 背景画像を中央に配置 */
  min-height: 93vh; /* 最小の高さをビューポートの150%に設定 */
  padding-top: 5%; /* 上部にパディングを追加 */
  padding-left: 5%; /* 左部にパディングを追加 */
  background-attachment: fixed;
}
.keyvisual::before {
  content: ''; /* 内容のない要素を生成 */
  position: absolute; /* 絶対位置指定 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* 要素を親要素いっぱいに広げる */
  background-image: url(../images/bg_ryokou2.jpg); /* 背景画像を設定 */
  opacity: 0.5; /* 透明度を50%に設定 */
  background-repeat: no-repeat; /* 背景画像の繰り返しを無効に */
  background-size: cover; /* 背景画像をコンテナに合わせて調整 */
  background-position: center; /* 背景画像を中央に配置 */
  z-index: -1; /* 背景にするためにz-indexを-1に設定 */
  background-attachment: fixed; /* 背景画像を固定 */
}
.keyvisual p {
  font-size: 7rem; /* フォントサイズを大きく設定 */
  font-family: serif; /* セリフ体をフォントとして使用 */
  text-transform: uppercase; /* テキストを大文字に変換 */
  color: #fff; /* テキストの色を白に設定 */
  position: relative; /* 相対位置指定 */
  z-index: 1; /* 背景画像より前面に表示 */
}

/* Worksセクションのスタイル ---------------- */
/*2枚目のbg画像、Worksの背景画像*/
.Works-container {
  display: flex;
  flex-direction: column; /* アイテムを縦方向に並べる */
  justify-content: space-between; /* アイテム間のスペースを均等に分配 */
  align-items: center; /* コンテンツを水平方向に中央揃え */
  position: relative;
  min-height: 150vh; /* 最小の高さをビューポートの150%に設定 */
  text-align: center; /* テキストを中央揃え */
  z-index: 1;
  width: 100%; /* 幅を100%に設定 */
  max-width: 100%; /* 最大幅を100%に設定 */
  margin-top: -60px; /* 追加 */
  padding-top: 0; /* 追加 */
}
.Works-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/bg_yosemite.JPG'); /* 背景画像を設定 */
  opacity: 0.5; /* 透明度を50%に設定 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1; /* 背景にするためにz-indexを-1に設定 */
  background-attachment: fixed; /* 背景画像を固定 */
}
.Works-container h2 {
  margin-top: 0; /* h2を上端に */
  padding-top: 20px; /* 必要に応じて調整 */
  line-height: 1; /* 行の高さを調整して間隔を縮める */
}
.Works-container h2 a {
  color: inherit;
  text-decoration: none;
}
.Works-container h2 a span {
  font-size: 0.5em;
}
.Works-container ul {
  margin-bottom: 0; /* ulを下端に */
  padding-bottom: 20px; /* 背景画像の下端との間隔を調整 */
  width: 100%; /* 必要に応じて調整 */
  position: relative;
  z-index: 2; /* 背景画像の上に表示 */
}
.WorksTitle-container a {
  color: #ffffff; /* リンクの色を設定 */
  transition: color 0.3s, text-decoration-color 0.3s; /* 色と下線色の変化を滑らかに */
}
.contents-a {
  text-align: left;
}
.contents-a a {
  text-decoration: underline dotted;
}
.contents-a a:hover {
  color: red;
}
.contents-a a::after {
  content: ' (未着手)';
  color: blue;
  padding-left: 5px;
}
.contents-a .done::after {
  content: ' (作成済)';
  color: red;
  padding-left: 5px;
}
.portfolio-title {
  position: relative;
  font-size: 2rem;
  margin-top: 660px;
  padding-bottom: 8px;
  bottom: 4px;
}
.portfolio-title::before,
.portfolio-title::after {
  content: '----------'; /* ダッシュを追加 */
  display: inline-block;
  margin: 0 10px; /* タイトルとの間隔 */
}

@media (max-width: 768px) {
  .portfolio-title::before,
  .portfolio-title::after {
    content: ''; /* 600px以下でダッシュを非表示に */
  }
}

/* モバイルビューでのキービジュアルのスタイル調整 ---------------- */
@media (max-width: 768px) {
  .keyvisual {
    min-height: 100vh; /* 最小の高さをビューポートの100%に設定 */
    padding-top: 20%; /* 上部のパディングを増やす */
  }
  .keyvisual p {
    font-size: 5rem; /* フォントサイズを小さく調整 */
  }
}
#about,
#Works {
  text-align: center; /* セクション内のテキストを中央揃えに */
}
.sub-title {
  font-size: 3.2rem; /* サブタイトルのフォントサイズを大きく設定 */
  border-bottom: 1px solid #383e45; /* サブタイトルの下に境界線を追加 */
  display: inline-block; /* インラインブロック要素として表示し、テキストの幅に合わせてサイズを調整 */
  margin: 30px 0 50px; /* 下部にマージンを設定し、コンテンツとの間隔を確保 */
}
/* About ---------------- */
#about {
  padding-bottom: 100px;
}
.about-container {
  display: flex; /* フレックスボックスを使用してアイテムを横並びに */
}
.about-container img {
  width: 100px; /* 画像の幅を設定 */
  height: 100px; /* 画像の高さを設定 */
  object-fit: cover; /* 画像のアスペクト比を保ちつつ、コンテナに合わせて調整 */
  border-radius: 50%; /* 画像を円形に表示 */
  margin: 0 30px 0 0; /* 右側にマージンを設定し、隣接する要素との間隔を確保 */
}
.profile {
  margin-bottom: 3rem;
  border-bottom: 1px solid #383e45;
  display: inline-block;
  padding-bottom: 10px; /* 区切り線のための下部余白を追加 */
}
/* Aboutのモバイルスタイル ---------------- */
@media (max-width: 768px) {
  /* モバイルビューでのAboutのスタイル調整 ---------------- */
  .about-container {
    flex-direction: column; /* モバイルビューではアイテムを縦並びに変更 */
    align-items: center; /* アイテムを中央揃えに */
  }
  .about-container img {
    margin: 0 0 10px; /* モバイルビューでは下部にマージンを設定し、隣接するテキストとの間隔を確保 */
  }
}
.about-text {
  max-width: 600px; /* テキストブロックの最大幅を設定 */
  text-align: justify; /* テキストを両端揃えに */
}
.about-text h3 {
  font-size: 1.8rem; /* 見出しのフォントサイズを設定 */
  line-height: 1; /* 行の高さを設定 */
  margin: 0 0 10px; /* 下部にマージンを設定し、続くテキストとの間隔を確保 */
}
.about-text p {
  text-indent: 1em; /* 段落の最初の行にインデントを追加 */
}
.about-text p::first-letter {
  font-size: 1.3em; /* 最初の文字のフォントサイズを大きく設定 */
  font-weight: bold; /* 最初の文字を太字に */
  color: #d00b0b; /* 最初の文字の色を設定 */
}
.about-text span {
  font-weight: bold; /* 強調するテキストを太字に */
}
/* Works  ---------------- */
.Works-container h2 {
  padding-top: 30px;
}
.WorksTitle-container {
  display: flex; /* コンテナ内のアイテムを横並びに表示 */
  justify-content: space-between; /* アイテム間に均等なスペースを設定 */
  flex-wrap: wrap; /* コンテナの幅に収まらないアイテムを次の行に折り返し */
}
.WorksTitle-container li {
  width: 32%; /* 各アイテムの幅をコンテナの32%に設定 */
  margin-bottom: 0; /* アイテム間の下マージンを設定 */
}
.WorksTitle-container img {
  max-height: 158px; /* 最大高さを設定 */
  width: 100%; /* 画像の幅をアイテムの幅に合わせて調整 */
  object-fit: cover; /* 画像のアスペクト比を保ちながら、コンテナに合わせて調整 */
  transition: transform 0.5s ease, filter 0.5s ease; /* 滑らかな拡大縮小のためのトランジションを設定 */
}
.WorksTitle-container li img:hover {
  transform: scale(1.1); /* ホバーした画像のみを拡大 */
  filter: brightness(150%); /* ホバー時に要素を20%明るくする */
}
.WorksTitle-container p {
  text-align: left; /* テキストを左揃えに */
}
.WorksTitle-container li {
  margin-bottom: 16px;
}
/* Worksのモバイルスタイル ---------------- */
@media (max-width: 768px) {
  .WorksTitle-container {
    flex-direction: column; /* モバイルビューではアイテムを縦並びに表示 */
  }
  .WorksTitle-container li {
    width: 100%; /* モバイルビューではアイテムの幅を100%に設定 */
  }
  .WorksTitle-container li:last-child {
    margin-bottom: 0;
  }
  .WorksTitle-container h3 {
    text-align: left;
  }
}
.WorksTitle-container h3 {
  font-size: 1.8rem;
  line-height: 1;
  margin: 20px 0 10px;
}

/* FOOTERのスタイル ---------------- */
footer {
  text-align: center; /* フッターテキストを中央揃えに */
  padding: 5px 0; /* 上下のパディングを設定 */
  background-color: #2c3e50; /* フッターの背景色を設定 */
}
.footer p {
  color: #f1acac; /* フッターテキストの色を設定 */
}
.page-top {
  margin-right: 16px;
  width: 80px; /* 「ページトップへ」ボタンの幅 */
  height: 80px; /* 「ページトップへ」ボタンの高さ */
  background: url(../images/arrowUP.svg) no-repeat center/60%; /* ボタンの背景画像 */
  background-color: rgba(56, 62, 69, 0.5); /* ボタンの背景色 */
  border-radius: 50%; /* ボタンの形状を設定 */
  position: fixed; /* ボタンを画面に固定 */
  right: -100px; /* 初期状態ではボタンを画面外に配置 */
  bottom: 80px; /* 画面下からの位置 */
  transition: transform 1s linear; /* ホバー時のアニメーション効果 */
  z-index: 2; /* 他の要素よりも前面に表示されるように z-index を設定 */
}
.page-top.slidein {
  transform: translateX(-100px); /* ホバー時にボタンを画面内にスライドさせる */
}

/* 各種ポートフォリオ製作サイト適用  ----------------（製作開始時に消去） */
.under-constraction h1 {
  color: #f90707;
  font-size: 5rem;
  text-align: center;
}
.under-constraction h2 p {
  color: #000000;
  font-size: 3rem;
  text-align: center;
}
.under-constraction {
  text-align: center;
  background: #1eea07;
  border: 3px solid #072ff9;
  margin: 30px 150px;
  padding: 10px;
}
.under-constraction {
  color: #072ff9;
  font-size: 2rem;
}
.discrip {
  color: #000;
  text-align: center;
  font-size: 1.3em;
}

/* ポートフォリオでの追加(一時置き) */
