body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.978), rgba(186, 218, 251, 0.406)), url(../images/b_20220818045751.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.login {
  width: 300px;
  padding: 16px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3.fsize, form {
  text-align: center;
}

h3.fsize {
  font-size: 1.5em;
  margin-bottom: 20px;
}

form {
  width: 100%;
}

input[type="text"], input[type="password"] {
  max-width: 100%;
  width: 70%;
  padding: 10px 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="submit"], .button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: transform 0.5s;
}

input[type="submit"]:hover, .button:hover, .menu-button:hover {
  color: #000000;
  background: #0090aa;
  transform: translate(0, -6px);
}

.menu {
text-align: center;

} 

.return {
  margin-top: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #008ddbde;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
  margin: 10px auto;
}

.error-message {
  color: #f00;
  text-align: center;
  margin-bottom: 20px;
}


@media only screen and (max-width: 320px) {
  .container.login {
    width: 90%;
    padding: 10px;
  }

  h3.fsize {
    font-size: 1.2em;
  }
}